/* Self-hosted Cascadia Code, Microsoft v2407.24. See ../fonts/CascadiaCode-LICENSE.txt. */
@font-face{
  font-family:'Cascadia Code';
  font-style:normal;
  font-weight:200 700;
  font-display:swap;
  src:url('../fonts/CascadiaCode.woff2') format('woff2');
}
@font-face{
  font-family:'Cascadia Code';
  font-style:italic;
  font-weight:200 700;
  font-display:swap;
  src:url('../fonts/CascadiaCodeItalic.woff2') format('woff2');
}
